.programs {
  margin: 80px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
  gap: 20px; /* Space between grid items */
}

.program .test {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
}

.program {
  position: relative;
}

.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
  transition: 0.4s;
}

.caption img {
  width: 60px;
  margin-bottom: 10px;
}

.program:hover .caption {
  opacity: 1;
  padding-top: 0;
}

/* Medium screens (tablet) */
@media (max-width: 1024px) {
  .programs {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

/* Mobile screens */
@media (max-width: 650px) {
  .programs {
    grid-template-columns: 1fr; /* 1 column for mobile */
  }
  .program {
    margin-bottom: 20px;
  }
}
